.icon{
    color: #c31432;
    font-size: 35px;
}

body{
        background-color: #c31432;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.box{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
